// @media (min-width: 768px) {
// 	h2 {
// 		font-size: 3.8rem;
// 	}

// 	.nav__btn {
// 		left: 700px;
// 	}

// 	header {
// 		// width: 107%;
// 		background-image: url(../img/jungle-big.jpg);
// 		p,
// 		h1 {
// 			top: 43%;
// 			margin: 0em 0.3em;
// 			font-size: 3rem;
// 		}

// 		h1 {
// 			font-size: 3.5rem;
// 			margin-top: 0.5em;
// 		}
// 	}

// 	.aboutus {
// 		.aboutus__desktop {
// 			display: block;
// 			background-position: center;
// 			max-height: 50vh;
// 		}

// 		.aboutus__mobile {
// 			display: none;
// 		}

// 		h3 {
// 			font-size: 2.7rem;
// 			margin-top: 1em;
// 		}

// 		&__text {
// 			font-size: 2rem;
// 			padding: 1em;
// 			line-height: 2em;
// 		}
// 	}

	

// 		.hero-img {
// 			background-image: url(../img/girl-big.jpg);
// 		}
	

// 	.hero-img {
// 		.hero-img__title {
// 			font-size: 3.2rem;
// 		}
// 	}

// 	.offer {
// 		.offer__text {
// 			font-size: 2rem;
// 		}

// 		.offer__title {
// 			font-size: 3rem;
// 			margin-top: 0.7em;
// 		}

// 		.offer__price {
// 			font-size: 4.6rem;
// 		}

// 		.offer__items {
// 			left: 33%;
// 			margin-bottom: 1.5em;
// 		}

// 		.offer__options {
// 			font-size: 2rem;
// 		}

// 		.offer__btn {
// 			width: 50%;
// 			font-size: 2rem;
// 			margin-bottom: 1.3em;
// 		}
// 	}

// 	.footer {
// 		.footer__name {
// 			font-size: 4.2rem;
// 			padding: 1em;
// 		}

// 		.footer__heading {
// 			font-size: 2.7rem;
// 			margin: 1.5em 0em 0.7em 0em;
// 		}

// 		.footer__text {
// 			font-size: 2.4rem;
// 			margin-bottom: 1em;
// 		}

// 		.footer__company {
// 			font-size: 2.5rem;
// 		}
// 	}
// }






// MEDIA QUERRIES=============

@media (min-width: 768px) {
	h2 {
		font-size: 3.8rem;
	}
	header {
		p,
		h1 {
			top: 43%;
			margin: 0em 0.3em;
			font-size: 3rem;
		}
		h1 {
			font-size: 3.5rem;
			margin-top: 0.5em;
		}
	}

	.aboutus {
		.aboutus__desktop {
			display: inline-block;
			background-position: center;
			// height: 500px;
		}

		.aboutus__mobile {
			display: none;
		}

		h3 {
			font-size: 2.7rem;
			margin-top: 1em;
		}

		&__text {
			font-size: 2rem;
			padding: 1em;
			line-height: 2em;
		}
	}

	

	.offer {
		.offer__card {
			margin: 4em;
		}

		.offer__text {
			font-size: 2rem;
		}

		.offer__title {
			font-size: 3rem;
			margin-top: 0.7em;
		}

		.offer__price {
			font-size: 4.6rem;
		}

		.offer__items {
			left: 33%;
			margin-bottom: 1.5em;
		}

		.offer__options {
			font-size: 2rem;
		}

		.offer__btn {
			width: 50%;
			font-size: 2rem;
			margin-bottom: 1.3em;
		}
	}

	.footer {
		.footer__name {
			font-size: 4.2rem;
			padding: 1em;
		}

		.footer__heading {
			font-size: 2.7rem;
			margin: 1.5em 0em 0.7em 0em;
		}

		.footer__text {
			font-size: 2.4rem;
			margin-bottom: 1em;
		}

		.footer__company {
			font-size: 2.5rem;
		}
	}

	.form {
		.form__title {
			font-size: 4.2rem;
			text-align: center;
			margin-top: 1.5em;
			text-decoration: underline;
			background-color: #968776;
			width: 100%;
			height: 5em;
			line-height: 4em;
		}

		p {
			font-size: 2.9rem;
		}

		.form__box {
			span {
				line-height: 2em;
			}
			.form__box-heading {
				margin-top: 1.3em;
				font-size: 2.7rem;
				width: 200px;
			}
			.form__map-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.form__box-img {
				width: 150px;
				height: 150px;
				margin-bottom: -2em;
			}

			.form__contact-data {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				#map {
					margin-top: 4em;
					height: 470px;
					width: 70%;
				}
			}
			.form__adress {
				display: flex;
				flex-direction: column;
				width: 100%;

				h3 {
					font-size: 3.5rem;
					margin-bottom: 1.5em;
					margin-top: 0;
				}

				.fa-phone {
					color: #435297;
					margin-right: 0.3em;
				}
			}
		}

		.form__item {
			margin-right: 3em;
		}

		.form__heading {
			margin: 3em 6.2em 2em 6.2em;
			font-size: 3rem;
		}
		.form__btn {
			width: 40%;
			transition: 0.3s;
		}
		.form__btn::before {
			transition: 0.4s;
		}
	}
}
