@use './header.scss' as *;
@use './nav.scss' as *;
@use './footer.scss' as *;
@use './contact.scss' as *;
@use './moreoffer-nav' as *;
@use './large' as *;
@use './medium' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', 'sains-serif';
	font-size: 1.6rem;
	// background-color: rgb(180, 178, 36);
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

.aboutus {
	&__desktop {
		display: none;
	}

	img {
		width: 100%;
	}

	h2 {
		padding: 2em 0em;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal;
		text-decoration: underline;
	}

	&__title {
		font-size: 2rem;
		text-align: center;
		font-weight: bold;
		margin-top: 1em;
	}

	&__text {
		padding: 1em;
		line-height: 2em;
	}
}

.hero-img {
	position: relative;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/girl-small.jpg);
	// width: 100%;
	background-position: center;

	&__hero-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__title {
		display: inline-block;
		position: relative;
		padding: 1em;
		font-size: 2rem;
		border: 1px solid rgb(201, 197, 197);
		color: white;
	}
}

.offer {
	margin-bottom: 2.5em;
	text-align: center;

	h2 {
		margin: 2.4em;
		font-weight: normal;
		text-decoration: underline;
	}

	&__text {
		font-size: 1.5rem;
		margin: 0em 1em 2.7em 1em;
	}

	&__card {
		padding: 1.2em;
		margin: 1.5em 2em;
		border-radius: 0.5em;
		border: 1px solid rgb(201, 197, 197);
		box-shadow: 1px 1px 1px 1px #b1aeae;
	}

	&__title,
	&__price,
	&__btn {
		font-weight: bold;
		margin-bottom: 1em;
	}

	&__title {
		font-size: 2rem;
	}

	&__price {
		font-size: 2.6rem;
	}

	&__options {
		margin-bottom: 1em;
	}

	&__options--highlighted {
		color: #b1aeae;
	}

	&__items {
		text-align: start;
		position: relative;
		left: 26%;
	}

	&__btn {
		width: 40%;
		margin-top: 1.2em;
		padding: 0.6em;
		border-radius: 0.3em;
		border: none;
		box-shadow: 1px 1px 1px 2px #b1aeae;
		background-color: transparent;
		cursor: pointer;
		color: #424242;
		transition: background-color 0.3s;
	}

	&__btn:hover {
		background-color: rgb(230, 235, 232);
	}

	&__btn--highlight {
		background-color: rgb(8, 226, 0);
	}

	&__btn--highlight:hover {
		background-color: rgb(12, 250, 3);
	}

	.fa-check,
	.fa-minus {
		text-align: center;
		margin-right: 1em;
	}

	.fa-check {
		color: rgb(2, 218, 2);
	}

	.fa-minus {
		color: #b1aeae;
	}

	a {
		display: inline-block;
		font-size: 2.2rem;
		margin-top: 1.5em;
		font-weight: bold;
		color: rgb(6, 112, 211);
	}

	&__card--highlight {
		margin-bottom: 3.5em;
	}
}


